<section>
    <h2>Visit the location that's right for you</h2>
    <p>Click on a pin below to see the open hours, address, phone number and website for each Career Center.</p>
    <p>You can also <a href="http://workforce.org/ajcc" title="Text-only Opportunity Center information">click
        here</a> to see a text-only version of this information.</p>
    <p>Make sure to bring in two forms of identification.<br>
        <a href="http://www.metrocareercenters.org/PDF/I-9%20Form.pdf">List of acceptable documents</a>
    </p>
</section>

<iframe src="https://www.google.com/maps/d/embed?mid=1t7VZbWB1GTStaz0TXWNWb372A8w"
        id="map_canvas"
        frameborder="0" style="border:0"
></iframe>
