<div class="container">
  <h2>Make a CalJobs profile</h2>
  <p class="lead">This will help figure out which resources from the state of California you are eligible for.</p>


  <p>
    Create your CalJobs profile. The page will open in a new window. After you've completed 1) registration and 2)
    résumé entry, come back to this page, and click the green next button.
  </p>

  <p>
    <a target="_blank"
       class="btn btn-info btn-lg"
       href="https://www.caljobs.ca.gov/vosnet/loginintro.aspx?blnStartHere=True&plang=E">CalJobs Registration</a>
  </p>

  <p><a class="btn btn-success btn-lg" href="/ready/<%= @job_app_id %>">Next</a></p>
</div>
