<div class="container">
    <h2>Make a CalJobs profile</h2>

    <p>
        Create your CalJobs profile. This link below will open in a new window. Return to this page and click 'Next"
        when you have completed the registration and résumé process.
    </p>

    <p>
        <a target="_blank"
           class="btn btn-default btn-lg"
           href="https://www.caljobs.ca.gov/vosnet/loginintro.aspx?blnStartHere=True&plang=E">CalJobs Registration</a>
    </p>

    <p>
        <a class="btn btn-success btn-lg" href="/ready/<%= @job_app_id %>">Next</a>
    </p>
</div>
