<div class="container">
    <div class="jumbotron">
      <h1>Looking for work?</h1>
      <h2>Prepare for your visit to a Career Center</h2>
      <p>Connect to a career coach for free, no matter your barriers. They will help you find the right job, connect to
        trainings, or locate financial resources.</p>
    </div>

    <h2>Here's how to make the most of your visit</h2>
    <p class="lead">You don't need an appointment to visit, come in today! Follow these steps to make the most of your time.</p>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Prepare a membership application (5 - 10 minutes)</h4>
            <p class="list-group-item-text">Tell us more about yourself to jumpstart your job search.</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Sign up for a
              <a href="https://www.caljobs.ca.gov/vosnet/Default.aspx" title="CalJobs">CalJobs</a> profile (45 - 90
              minutes)</h4>
            <p class="list-group-item-text">You can start applying for work immediately.</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Print your materials (5 minutes)</h4>
            <p class="list-group-item-text">You're done! Bring these materials to a career center.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a type="button" class="btn btn-success btn-lg" href="/prepare">Start</a>
    </div>
  </section>
</div>
