<div class="container">
  <h2>You're all set!</h2>

  <div class="row">
    <div class="col-md-8">
      <p>Print your application materials here:</p>
    </div>
    <div class="col-md-4">
      <input type="submit" class="btn btn-info btn-lg" value="Download application">
    </div>
  </div>

  <p>Don't forget to sign pages 2 and 3! Bring your résumé if you have one prepared.</p>

  <p>
    <a href="https://docs.google.com/a/codeforamerica.org/forms/d/e/1FAIpQLSfH66rA1sru15MfTptt36ODuhS5NCxxw_HrU1FAJdbnn8cjjA/viewform">
      We need your feedback. If you have questions, comments, ideas for further development, or anything, please
      click here. Thanks!
    </a>
  </p>
</div>
