<div class="container">
    <h2>You're all set!</h2>

    <div class="row">
        <div class="col-md-8">
            <p>Print your application materials here:</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default btn-lg" href="/pdf/<%= @job_app_id %>">Download application</a>
        </div>
    </div>

    <p>
        Don't forget to sign pages 2 and 3!
        Bring your résumé if you have one prepared.
    </p>

    <p>
        <a href="https://parassanghavi.typeform.com/to/rBusRk">
            We need your feedback. If you have questions, comments, ideas for further development, or anything, please
            click here. Thanks!
        </a>
    </p>
</div>
