@import 'variables';

.header {
  font-style: italic;
  padding: .2rem 1.5rem;
  p { font-size: 90%; }
}

.sbm {
  margin-bottom: 8px;
}

// Footer //
footer {
  margin: 6rem 0 0;

  .logos {
    background-color: $heading-color-light;
    padding: 1rem;
    a, img { border: 0; }
    img { width: auto; }
    .network-logo img{
      height: 40px;
      margin: 2rem 0 0 0;
    }
    .nola-logo {
      float: right;
      img { height: 70px; }
    }
  }
  p { margin-bottom: .5em; }
  @media print { display: none; }
}

.hidden {
  display: none;
}
