@import 'variables';
@import 'manage';

.clearfix {
  overflow: auto;
  zoom: 1;
  clear: both;
}

.centered {
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.header {
  font-style: italic;
  padding: .2rem 1.5rem;
  p { font-size: 90%; }
}

// Footer //
footer {
  margin: 6rem 0 0;

  .logos {
    background-color: $heading-color-light;
    padding: 1rem;
    a, img { border: 0; }
    img { width: auto; }
    .network-logo img{
      height: 40px;
      margin: 2rem 0 0 0;
    }
    .nola-logo {
      float: right;
      img { height: 70px; }
    }
  }
  .centered { padding: .5rem 1.5rem; }
  p { margin-bottom: .5em; }
  @media print { display: none; }
}
