<div class="container">
    <section id="heading">
        <div class="centered">
            <h1>Looking for work?</h1>
        </div>
    </section>

    <section id="prepare">
        <div class="centered">
            <h2>Prepare for a visit to a Career Center</h2>
            <p>You will be connected to a career coach for free, no matter your barriers. They will help you find the
                right
                job, connect to trainings, or locate financial resources.</p>
        </div>
    </section>

    <section>
        <h2>Make the most of your visit</h2>
        <p>You don't have to make an appointment to visit, come in today! Plan to spend 2-3 hours and follow the
            steps below to get the most of your time.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Prepare a membership application (5 to 10 minutes)</h4>
                        <p class="list-group-item-text">Enter your basic information to become a career center
                            member.</p>
                        <a href="/prepare">Prepare a membership application</a>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Sign up for a job seeker profile on <a
                                href="https://www.caljobs.ca.gov/vosnet/Default.aspx"
                                title="CalJobs">CalJobs</a> (45 to 90 minutes)</h4>
                        <p class="list-group-item-text">You can start looking for work immediately.</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Create and print a CalJobs resume (5 minutes)</h4>
                        <p class="list-group-item-text">
                            <a href="http://www.metrocareercenters.org/PDF/what%20is%20caljobs.pdf">
                                <strong>Create and Print a CalJobs resume</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success btn-lg">Start</button>
        </div>
    </section>
</div>
