    <section id="heading">
      <div class="centered">
        <h1>Looking for work?</h1>
      </div>
    </section>

    <section id="prepare">
      <div class="centered">
        <h2>Prepare for a visit to a Career Center</h2>
        <p>You will be connected to a career coach for free, no matter your barriers. They will help you find the right job, connect to trainings, or locate financial resources.</p>
      </div>
    </section>

    <section id="time">
      <div class="centered">
        <h2>Make the most of your visit</h2>
        <p>You don't have to make an appointment to visit, come in today! Plan to spend 2-3 hours and follow the steps below to get the most of your time.</p>
        <ul>
            <li><strong>Complete and Sign the
                <a href="http://www.metrocareercenters.org/PDF/AJCC%20Membership%20Application%20fill%20in.pdf">Membership Application</a></strong></li>

            <li><strong>Read, Print and Sign the
              <a href="http://www.metrocareercenters.org/PDF/Lab%20Policies.pdf">Job Search Lab Policies</a></strong></li>

          <li><strong>Read, Print and Sign the
              <a href="http://www.metrocareercenters.org/PDF/Customer%20Suspension%20Policy.pdf">Customer Suspension Policy Form</a></strong></li>

          <li><strong>Sign up for a job seeker profile on <a href="https://www.caljobs.ca.gov/vosnet/Privacy/PrivacyAgreement.aspx?pu=False&rt=n&strAgreementLang=" target="_blank" title="CalJobs">CalJobs</a></strong><br>
              You can start looking for work immediately.
          </li>

            <li><strong>Create and Print a CalJobs resume
                <a href="http://www.metrocareercenters.org/PDF/AJCC%20Membership%20Application%20fill%20in.pdf">Membership Application</a></strong></li>


            <li><strong>Bring in two forms of identification.</strong><br>
              <a href="http://www.metrocareercenters.org/PDF/I-9%20Form.pdf">List of acceptable documents</a>
          </li>
        </ul>
      </div>
    </section>

    <div class="clearfix"></div>

    <section id="oppCenterInfo">
      <div class="centered">
        <h2>Visit the location that's right for you</h2>
        <p>Click on a pin below to see the open hours, address, phone number and website for each Opportunity Center.</p>
        <p>You can also <a href="/opportunity-center-info" title="Text-only Opportunity Center information">click here</a> to see a text-only version of this information.</p>
        <p>Sign up for the Opportunity Center job system and receive a personalized recommendation for next steps and a follow-up from a career advisor.</p>
        <div class="button_wrapper">
          <a href="/jobsystem" class="basic-button">Job system</a>
        </div>
      </div>
    </section>

    <iframe src="https://www.google.com/maps/d/embed?mid=1t7VZbWB1GTStaz0TXWNWb372A8w"
            width="950" height="480"
            frameborder="0" style="border:0"
    ></iframe>
