<section id="prepare">
    <div class="centered">
        <h2>Prepare for a visit to a Career Center</h2>
    </div>
</section>

<div class="container">
    <br>
    <form method="POST" action="/pdf">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input class="form-control" name="last_name" type="text">
                </div>

                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input class="form-control" name="first_name" type="text">
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input class="form-control" name="gender" type="text">
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" name="email" type="text">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input class="form-control" name="phone" type="text">
                </div>

                <div class="form-group">
                    <label>Are you registered with the Selective Service?</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="selective_service" value="Yes, Registered">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="selective_service" value="No, not registered">
                            No
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="selective_service" value="Document exemption">
                            No, I am exempt
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="selective_service" value="Unknown">
                            I don't know
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Have you been recently laid off?</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="services[]" value="Layoff transition support">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="services[]" value="">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <p>Are you a veteran?</p>
        <input type="checkbox" name="services[]" value="Veterans' resources">Yes<br>
        <br/>

        <p>Are you authorized to work in the United States?</p>
        <select name="work_authorization">
            <option selected></option>
            <option value="Citizen of U.S. or U.S. Territory">Citizen of U.S. or U.S. Territory</option>
            <option value="U.S. resident">U.S. resident</option>
            <option value="Alien/refugee lawfully admitted to U.S">Alien/refugee lawfully admitted to U.S</option>
            <option value="No Authorization">No</option>
        </select>

        <p>What level of education do you have?</p>
        <select name="education">
            <option selected></option>
            <option value="No formal education">No formal education</option>
            <option value="Grades 1st-6th completed">Grades 1st-6th completed</option>
            <option value="Grades 7th-9th completed">Grades 7th-9th completed</option>
            <option value="Some high school completed">Some high school completed</option>
            <option value="High school diploma">High school diploma</option>
            <option value="High school equivalency diploma">High school equivalency diploma</option>
            <option value="College course work - no degree">College course work - no degree</option>
            <option value="Technical course work - no degree">Technical course work - no degree</option>
            <option value="Vocational course work - no degree">Vocational course work - no degree</option>
            <option value="Certification">Certification</option>
            <option value="Associates degree">Associates degree</option>
            <option value="Bachelor's degree">Bachelor's degree</option>
            <option value="Master's degree">Master's degree</option>
            <option value="Doctorates degree">Doctorates degree</option>
            <option value="Specialized degree">Specialized degree</option>
        </select>

        <p>Are you currently attending school?</p>
        <select name="current_school">
            <option selected></option>
            <option value="yes, attending an alternative hs">Alternative High School</option>
            <option value="yes, attending college">College</option>
            <option value="yes, attending adult education">Adult Education</option>
            <option value="yes, attending technical school">Technical School</option>
            <option value="yes, attending vocational school">Vocational School</option>
            <option value="no">No</option>
        </select>

        <p>What is your current employment status?</p>
        <select name="current_employment_status">
            <option selected></option>
            <option value="employed">Employed</option>
            <option value="not employed">Not Employed</option>
            <option value="employed with notice of termination">Employed with notice of termination</option>
            <option value="employed with notice of military separation">Employed with notice of military separation
            </option>
        </select>

        <p>Are you currently receiving Unemployment Insurance?</p>
        <select name="unemployment_insurance">
            <option selected></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="benefits exhausted">My benefits have exhausted</option>
        </select>

        <label>
            How many people live in your household, including yourself?
            <input name="household_size" type="number">
        </label>

        <p>About how much money did you make in the last 6 months? <input name="income" type="number"></p>

        <p>Tell us about your current or most recent job.</p>
        <p>Employer: <input name="employer" type="text"></p>
        <p>Hourly Wage: <input name="wage" type="number"></p>
        <p>Hours Worked: <input name="hours_worked" type="text"></p>
        <label>
            If you are no longer working at this job, what was the date you last worked?
            <input name="date_last_worked" type="text">
        </label>


        <p>Have you performed work as a farm worker or food processor, including packing houses, nurseries, or orchards,
            for at least 25 days within the past 12 months?</p>
        <input type="radio" name="farm_work" value="Yes">Yes<br>
        <input type="radio" name="farm_work" value="No">No<br>

        <p>Within the last 12 months, have you received a notice of termination or layoff from your job or received
            documentation that you are separating from military service?</p>
        <select name="termination_notice">
            <option selected></option>
            <option value="yes, I have recently received notice of termination">Yes, I have recently received a
                notice of termination
            </option>
            <option value="yes, i have received notice of mlitary seperation">Yes, I have received a notice of
                military separation
            </option>
            <option value="No, I have not recently received a notice of termination or military separation">No
            </option>
        </select>

        <p>Are you currently looking for work?</p>
        <input type="radio" name="looking_for_work" value="are you currently looking for work: Yes">Yes<br>
        <input type="radio" name="looking_for_work" value="are you currently looking for work: No">No<br>

        <p>What is your desired job?</p>
        <textarea name="desired_job" cols="50" rows="5" maxlength="400"></textarea>

        <h3>Military Service</h3>

        <p>Are you a member or caregiver who is a spouse or family member to a member of the armed forces who is
            wounded, ill, or injured and receiving treatment in a military facility or warrior transition unit?</p>
        <input type="radio" name="military_caregiver" value="yes1">Yes<br>
        <input type="radio" name="military_caregiver" value="no1">No<br>

        <p>Are you currently in the military, a veteran, or the spouse of a veteran?</p>
        <input type="radio" name="military" value="yes3">Yes<br>
        <input type="radio" name="military" value="no3">No<br>

        <p>Are you the spouse/dependent of someone in the active-duty military service, National Guard, or Reserves
            who is currently activated?</p>
        <input type="radio" name="military_dependent" value="yes4">Yes<br>
        <input type="radio" name="military_dependent" value="no4">No<br>

        <h3>Public assistance: please provide answers to the following questions if any apply within the last 6
            months</h3>

        <p>Has your household received Temporary Assistance for Needy Family (TANF) payments? </p>
        <input type="radio" name="tanf" value="yes5">Yes<br>
        <input type="radio" name="tanf" value="no5">No<br>

        <p>Have you been determined eligible for or received Supplemental Nutritional Assistance Programs assistance
            (SNAP — formally known as food stamps)?</p>
        <input type="radio" name="snap" value="yes6">Yes<br>
        <input type="radio" name="snap" value="no6">No<br>

        <p>Have you received General Assistance (GA) payments?</p>
        <input type="radio" name="general_assistance" value="yes7">Yes<br>
        <input type="radio" name="general_assistance" value="no7">No<br>

        <p>Have you received Refugee Cash Assistance (RCA) payments?</p>
        <input type="radio" name="refugee_cash_assistance" value="yes8">Yes<br>
        <input type="radio" name="refugee_cash_assistance" value="no8">No<br>

        <h3>How can we support you?</h3>

        <p>How can we support you in your job search?</p>
        <input type="checkbox" name="services[]" value="Job leads">Job leads<br>
        <input type="checkbox" name="services[]" value="Job Market Information">Job market information<br>
        <input type="checkbox" name="services[]" value="Job search techniques">Job search techniques<br>
        <br/>

        <p>Would you like to develop specific job skills?</p>
        <input type="checkbox" name="services[]" value="Communication Skills">Communication skills<br>
        <input type="checkbox" name="services[]" value="Computer Skills">Computer skills<br>
        <input type="checkbox" name="services[]" value="Interview Skills">Interview skills<br>
        <input type="checkbox" name="services[]" value="Salary negotiation skills">Salary negotiation skills<br>
        <input type="checkbox" name="services[]" value="Vocational skills/training">Vocational skills and
        training<br>
        <br/>

        <p>If you have a criminal record, are you interested in clearing it?</p>
        <input type="checkbox" name="services[]" value="Expungement">Yes<br>
        <br/>

        <p>Would you like the support of a case manager?</p>
        <input type="checkbox" name="services[]" value="Support of case manager">Yes<br>
        <br/>

        <p>Any other way we can help?</p>
        <textarea name="other_services" cols="50" rows="5" maxlength="400"></textarea>

        <p><input type="submit" value="Download Application"> Don't forget to sign pages 2 and 3!</p>
    </form>
</div>
