    <section id="prepare">
      <div class="centered">
        <h2>Prepare for a visit to a Career Center</h2>
      </div>
    </section>

    <form method="POST" action="/pdf">
        <p>Your First Name: <input name="last_name" type="text"></p>
        <p>Your Last Name: <input name="first_name" type="text"></p>
        <p>Email address: <input name="email" type="text"></p>

        <input type="submit">
    </form>